@media (min-width: 768px) {

    /*********************
        HEADER
    *********************/

    .site-header {
        padding: var(--space-md) var(--space-xl);
    }

    .branding span {
        font-size: 1.4rem;
    }

    /*********************
        NAVIGATION
    *********************/

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        gap: var(--space-lg);
    }

    .navigation a {
        padding: 0;
        font-weight: 600;
    }

    .navigation a:hover {
        background: none;
        text-decoration: underline;
    }

    /*********************
        MAIN LAYOUT
    *********************/
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: var(--space-xl);
    }

    main h1 {
        margin-bottom: var(--space-lg);
    }

    /* HOME TOP ROW */
    .home-top {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: var(--space-lg);
        margin-bottom: var(--space-xl);
    }

    .events,
    .weather,
    .forecast {
        margin: 0;
    }
    

    /* SPOTLIGHTS ROW */
    .spotlights {
        display: grid;
    }

    .events,
    .weather,
    .forecast,
    .spotlight-card {
        height: 100%;
    }


    .spotlight-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--space-lg);
    }

    .spotlight-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .spotlight-card p,
    .spotlight-card a {
    overflow-wrap: anywhere;
    gap: var(--space-sm);
    }


    /*********************
        VIEW TOGGLE
    *********************/
    .view-toggle {
        margin-bottom: var(--space-xl);
    }

    /*********************
        COMPANY CARDS
    *********************/
    .company-cards.grid {
        gap: var(--space-xl);
    }

    .company-card {
        padding: var(--space-lg);
    }

    .company-card h3 {
        font-size: 1.1rem;
    }

    /*********************
        LIST VIEW
    *********************/
    .company-cards.list .company-card {
        grid-template-columns: 180px 1fr;
        gap: var(--space-lg);
    }

    .company-cards.list img {
        width: 180px;
    }

    /*********************
        FOOTER
    *********************/
    footer {
        padding: var(--space-xl);
    }
}
