/**/

/********************* COLOR SCHEME *************************/
/*
#2A6B3F
#003D59
#003B5C
*/

/********************* SITE WIDE *************************/
* {
    font-family: "Josehin Sans", sans-serif;
    box-sizing: border-box;
    color: #003D59;
}
h1 {
    margin: 1rem 10px;
    color: #003D59;
}

/********************* HEADER *************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #003D59;
}

/********************* HAMBURGER *************************/
.hamburger {
    background: none;
    border: none;
    color: #003D59;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/********************* NAVIGATION *************************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #003D59;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigationli.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: ;
}

/********************* MAIN SECTION *************************/

/* Parent container for the two cards */
.main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem;
    grid-column: 1 / 4;
    padding: 1rem;
}

.main-section h1 {
    
}

/* General Card Layout */
.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    padding: 2rem;
    background-color: #f9f9f9;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: start;
}

/* Left side  */
.coursework-card {
    background-color: lightgray;
    grid-row: 1/2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Right side */
.right-side {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alaska-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* 1/3 for the flag, 2/3 for the text */
    grid-gap: 1rem;
    margin-top: 1rem;
    align-items: center;

}

.alaska-info img.alaska-flag {
    max-width: 100%;
    /* Ensure the flag image is responsive */
    height: auto;
    border-radius: 4px;
}

.alaska-info p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

/* Headings in the card */
.card h2 {
    grid-column: 1 / 3;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Image inside the card */
.card img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}

/* Paragraph styling */
.card p {
    margin-bottom: 1rem;
}



/********************* FOOTER *************************/

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

footer p {
    color: #003D59;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}
