.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    display: grid;
    grid-column: 1 /4;
    background-color: gray;
    position: relative;
    border-radius: 4px;
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}

/* Small menu nav */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover{
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.wrap {
    flex-wrap: wrap;
}

/* Parent container for Course Work and Place card */
.main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
    grid-column: 1 / 4;
    padding: 1rem;
}

#page-title {
    grid-column: 1 / -1;
    text-align: left;
}

.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: start;
}

.coursework {
    background-color: lightcoral;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alaska-info {
    display: grid;
    grid-gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.alaska-info img {
    grid-column: 1 / -1;
}

.alaska-info p {
    grid-column: 1 / -1;
}

